@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap");
html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: "ubuntu", "sans-serif";
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 0.036rem;
  line-height: 2.8rem;
  color: #707070;
}

img {
  max-width: 100%;
  display: block;
}

header {
  background: #f8f8f8;
  padding: 2em 0;
  text-align: center;
  margin-bottom: 2em;
}

header h1,
header p {
  margin: 0;
}

.container {
  width: 90%;
  max-width: 90rem;
  margin: 0 auto;
}

.container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-items {
  margin: 0.5em 0;
}

.nav-items a {
  text-decoration: none;
  padding: 0.25em 0;
}

.nav-items a:hover, .nav-items a:focus {
  color: #1792d2;
  cursor: pointer;
}

.nav-items .active {
  border-bottom: 1px solid #717171;
}

.nav-items .active:hover, .nav-items .active:focus {
  color: #717171;
  cursor: default;
}

.article-read-more:hover,
.article-read-more:focus {
  color: #143774;
  text-decoration: underline;
}

footer {
  background: #143774;
  color: #ffffff;
  text-align: center;
  padding: 3em 0;
}

h1,
h2,
h3 {
  font-family: "lora", "monospace";
  font-weight: 400;
  color: #143774;
  margin-top: 0;
}

h1 {
  font-size: 3.2rem;
  text-align: center;
  margin: 0;
}

a {
  color: #1792d2;
}

a:hover, a:focus {
  color: #143774;
}

strong {
  font-weight: 700;
}

.description {
  font-size: 1.2rem;
  font-weight: 700;
  color: #1792d2;
  letter-spacing: 0.24rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.nav-items a {
  font-weight: 700;
  font-size: 1.6rem;
  color: #717171;
  text-transform: uppercase;
  letter-spacing: 0.32rem;
}

.article-title {
  font-size: 2.4rem;
}

.article-info,
.article-read-more {
  font-size: 1.4rem;
}

.article-read-more {
  font-weight: 700;
  color: #1792d2;
  text-transform: uppercase;
  letter-spacing: 0.28rem;
  text-decoration: none;
}

.article-info {
  margin: 2em 0;
}

.widget-title {
  font-family: "ubuntu", "sans-serif";
  font-weight: bold;
  font-size: 1.8rem;
  color: #143774;
  text-transform: uppercase;
  letter-spacing: 0.36rem;
}

.widget-body {
  font-size: 1.4rem;
  color: #143774;
}

.widget-recent-post-title {
  font-size: 1.8rem;
}

.about-me-title {
  margin-top: 2em;
  font-size: 2.4rem;
}

/* articles */
.article-featured {
  border-bottom: #707070 1px solid;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

.article-recent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2em;
}

.left-column {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.right-column {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.feature-img {
  height: 17em;
  -o-object-position: bottom;
     object-position: bottom;
}

.aside-widget {
  border: 2rem solid #ebebeb;
  margin-bottom: 2em;
  padding: 1em;
}

.aside-widget:first-child {
  line-height: 2.4rem;
}

.aside-widget:first-child img {
  width: 100%;
  min-height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.widget-recent-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.widget-recent-post img {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.widget-recent-post h3 {
  margin: 1em 0 0 0;
}

.widget-recent-post:not(:last-child) {
  padding-bottom: 1em;
  border-bottom: 1px solid #707070;
  margin-bottom: 2em;
}

.about-me {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 2em;
}

.about-me-body {
  margin: 0.5em 0;
}

.about-me-subtitle {
  color: #1792d2;
  font-size: 2.1rem;
  margin: 0.5em 0;
}

@media (min-width: 550px) {
  .left-column {
    margin-top: -2.5em;
  }
  .article-info {
    text-align: right;
  }
}

@media (min-width: 850px) {
  .container-flex,
  nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .container-flex:first-child {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-items {
    margin: 0 2em 0 0;
  }
  main {
    width: 67%;
  }
  aside {
    width: 27%;
  }
  .article-recent {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .article-recent .article-info {
    margin: 1em 0 1em 0;
  }
  .article-recent:nth-child(4) img {
    -o-object-position: left;
       object-position: left;
  }
  .left-column {
    width: 65%;
    margin-top: 0;
  }
  .right-column {
    width: 30%;
  }
  .article-featured {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .article-img {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
    width: 100%;
    min-height: 22.5rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .article-info {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    text-align: left;
  }
}
