@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap");

// variables

$white: #ffffff;
$lightwhite: #f8f8f8;
$grey: #ebebeb;
$purple: #1792d2;
$violet: #143774;
$dimgrey: #707070;
$darkgrey: #717171;
$ubuntu: "ubuntu", "sans-serif";
$lora: "lora", "monospace";

//basic changes
html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: $ubuntu;
  font-size: 1.8rem;
  font-weight: 300;
}

img {
  max-width: 100%;
  display: block;
}

//layout
header {
  background: $lightwhite;
  padding: 2em 0;
  text-align: center;
  margin-bottom: 2em;
  h1,
  p {
    margin: 0;
  }
}

.container {
  width: 90%;
  max-width: 90rem;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-items {
  margin: 0.5em 0;
  a {
    text-decoration: none;
    padding: 0.25em 0;
    &:hover,
    &:focus {
      color: $purple;
      cursor: pointer;
    }
  }
}

.nav-items .active {
  border-bottom: 1px solid $darkgrey;
  &:hover,
  &:focus {
    color: $darkgrey;
    cursor: default;
  }
}

.article-read-more:hover,
.article-read-more:focus {
  color: $violet;
  text-decoration: underline;
}

//typography

h1,
h2,
h3 {
  font-family: $lora;
  font-weight: 400;
  color: $violet;
  margin-top: 0;
}

h1 {
  font-size: 3.2rem;
  text-align: center;
  margin: 0;
}

a {
  color: $purple;
  &:hover,
  &:focus {
    color: $violet;
  }
}

strong {
  font-weight: 700;
}

.description {
  font-size: 1.2rem;
  font-weight: 700;
  color: $purple;
  letter-spacing: 0.24rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.nav-items {
  a {
    font-weight: 700;
    font-size: 1.6rem;
    color: $darkgrey;
    text-transform: uppercase;
    letter-spacing: 0.32rem;
  }
}

.article-title {
  font-size: 2.4rem;
}

.article-info,
.article-read-more {
  font-size: 1.4rem;
}

.article-read-more {
  font-weight: 700;
  color: $purple;
  text-transform: uppercase;
  letter-spacing: 0.28rem;
  text-decoration: none;
}

.article-info {
  margin: 2em 0;
}

.widget-title {
  font-size: 1.8rem;
  color: $violet;
  text-transform: uppercase;
  letter-spacing: 0.36rem;
}

.widget-body {
  font-size: 1.4rem;
  color: $violet;
}

.widget-recent-post-title {
  font-size: 1.8rem;
}

/* articles */

.article-featured {
  border-bottom: $dimgrey 1px solid;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

.article-recent {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
}

.left-column {
  order: 2;
}

.right-column {
  order: 1;
}

//desktop layout
@media (min-width: 850px) {
  .container-flex,
  nav ul {
    flex-direction: row;
  }

  .nav-items {
    margin: 0 2em 0 0;
  }

  main {
    width: 75%;
  }

  aside {
    width: 20%;
  }

  .article-recent {
    flex-direction: row;
    justify-content: space-between;
  }

  .left-column {
    width: 65%;
  }

  .right-column {
    width: 30%;
  }

  .article-featured {
    display: flex;
    flex-direction: column;
  }

  .article-img {
    order: -2;
  }

  .article-info {
    order: -1;
  }

  .article-img {
    width: 100%;
    min-height: 90%;
    object-fit: cover;
  }
}
