@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap");

// variables

$white: #ffffff;
$lightwhite: #f8f8f8;
$grey: #ebebeb;
$purple: #1792d2;
$violet: #143774;
$dimgrey: #707070;
$darkgrey: #717171;
$ubuntu: "ubuntu", "sans-serif";
$lora: "lora", "monospace";

//basic layout correction
html {
  font-size: 10px;
  font-family: $ubuntu;
}

//layout
header {
  background: $lightwhite;
  padding: 4em 0;
  h1,
  p {
    margin: 0;
  }
}

.titlebar {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 90rem;
  margin: 0 auto;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-items: center;
}

.nav-items {
  margin-left: 2em;
  a {
    text-decoration: none;
    padding: 0.25em 0;
    &:hover,
    &:focus {
      color: $purple;
      cursor: pointer;
    }
  }
}

.active {
  border-bottom: 1px solid $darkgrey;
  &:hover,
  &:focus {
    color: $darkgrey;
    cursor: default;
  }
}

//typography

h1 {
  font-family: $lora;
  font-weight: 400;
  font-size: 3.2rem;
  color: $violet;
  text-align: center;
}

.description {
  font-size: 1.2rem;
  font-weight: 700;
  color: $purple;
  letter-spacing: 0.24rem;
  text-transform: uppercase;
  text-align: center;
}

.nav-items {
  a {
    font-weight: 700;
    font-size: 1.6rem;
    color: $darkgrey;
    text-transform: uppercase;
    letter-spacing: 0.32rem;
  }
}

.article-title {
  font-family: $lora;
  font-size: 2.4rem;
  font-weight: 500;
  color: $violet;
}

.article-body {
  font-size: 1.8rem;
  color: $dimgrey;
}

.article-info {
  font-size: 1.4rem;
  color: $dimgrey;
}

.article-read-more {
  font-size: 1.4rem;
  color: $purple;
  text-transform: uppercase;
  letter-spacing: 0.28rem;
  text-decoration: none;
}

.widget-title {
  font-size: 1.8rem;
  color: $violet;
  text-transform: uppercase;
  letter-spacing: 0.36rem;
}

.widget-body {
  font-size: 1.4rem;
  color: $violet;
}

.widget-recent-post-title {
  font-family: $lora;
  font-size: 1.8rem;
  color: $violet;
}

//mobile layout
@media (max-width: 800px) {
  //layout

  header {
    text-align: center;
    padding: 2em 0;
  }
  .titlebar,
  .nav-list {
    flex-flow: column;
  }

  .nav-items {
    margin: 0.5em 0;
  }
}
